/* styles for my main website and Daily.php  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    background-color: rgb(243, 232, 234);
}

header {
    overflow: hidden;
    background-color:lightgray;
} 

.header-inner {
    max-width: 1100px;
    margin: 20px auto;
}

#logo {
    float: left;
    width: 180px;
    margin-bottom: 20px;
    border:none;
    border-radius: 50%;
}

nav {
    height: 50px;
    float: left;
    font-family: 'Praise';
    font-size: 1.5em;
}

nav ul {
    float: right;
}

nav li {
    float: left;
    list-style-type: none;
    margin-left: 30px;
}

nav a {
    text-decoration: none;
}

.current {
    color:red;
    font-weight: bold;
}

#wrapper {
    max-width: 1100px;
    margin: 20px auto;
}

#hero {
    height: 350px;
    background:#808080;
    margin-bottom: 20px;
}

/*start daily styles*/

.img-wrap {
    width: 60%;
    margin: 0 auto 1em;
    max-height:590px;
    overflow:hidden;
}

img {
    display:block;
    max-width: 100%;
    margin: 1em auto;
    border:2px solid whitesmoke;
}

main.daily {
    background: tan;
    width:100%;
    position:relative;
    margin-top: 1em;
}

div.daily-list {
    width:20%;
    position: absolute;
    top: 8px;
    left: -1px;
}

div.daily-list ul, li {
    list-style: none;
    padding:.5em .5em .5em .75em;
}

div.daily-list a {
    /* text-decoration: none; */
    color:black;
    font-weight: bold;
}
div.daily-list a:active {
    color: #ff00d4
}


div.content {
    width:60%;
    background:whitesmoke;
    margin: 0 auto 2em;
}

div.content p {
    padding:.5em;
    border: 1px dashed lightgrey;
}

h1, h2, h3 {
    padding-left:1em;
}

#about {
   text-align:center;
   font-size: 1.5em;
   padding: 0;
   margin-bottom: 1em;
}

/*END daily styles*/

/* Index.php random images specific styles */

img.random {
    display:block;
    height: 350px;
    width: 100%;
    border:2px solid whitesmoke;
    margin-bottom:5px;
}

img.screenshot{
    /* display:block; */
    /* width: 100%; */
    border:2px solid whitesmoke;
}


/* values based on 940px grid: 580/940 = 61.70%*/
main {
    width: 61.70%;
    /* height: 450px; */
    background: rgb(215, 232, 238);
    float: left;
    margin-bottom: 20px;
    padding-top:20px;
}

aside{
    width: 36.17%;
    height: 450px;
    float: right;
    background: rgb(238, 165, 165);
}

footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: 1px dotted #333;
    clear: both;
}

footer ul {
    float: right;
}

footer li {
    float: left;
    list-style-type: none;
    margin-left: 20px;
}